.single-product {
  a {
    text-decoration: none;
    color: inherit;
  }
  .product-card {
    .product-card__content {
      background-color: $beige;
      padding: rem-calc(15px) rem-calc(30px);

      .product-card__title {
        font-family: $poppins;
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        text-align: center;
        color: #27272f;
      }

      .product-card__price {
        font-family: $poppins;
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        text-align: center;
        color: #f87a01;
      }
    }
  }
}
