.b-infos {
    position: relative;
    background-position: top right;
    background-size: 15vw;
    background-repeat: no-repeat;

    margin-bottom: 140px;

    * {
        color: $white;
    }

    pre {
        color: $yellow;
        text-align: center;
    }

    .infos-wrapper {
        margin-top: rem-calc(60px);
        @media (min-width: $md) {
            margin-top: rem-calc(120px);
        }
    }

    .c-single-info {
        position: relative;
        border: 2px solid $grey;
        border-radius: 50px 50px 50px 50px;
        padding: rem-calc(40px);
        padding-top: rem-calc(2vw);

        * {
            text-align: center;
        }

        p {
            margin-bottom: 0;
            font-family: $montserrat;
            font-size: 32px;
            line-height: 1.35;
            letter-spacing: 1.57px;

            strong {
                font-weight: 700;
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 50%;
            width: 4vw;
            min-width: 40px;
            max-width: 100px;
            transform: translate(-50%, -50%);
        }
    }
}
