.b-text-and-image {
    margin-bottom: rem-calc(152px);
    position: relative;

    .richtext {
        h1,
        p {
            color: $white;
        }

        pre {
            color: $yellow;
        }
    }

    &.bg-Branco {
        h1,
        p {
            color: $black;
        }
    }
}
