.card-effect {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out, transform 350ms ease;
  border: 2px solid $grey;
  display: block;

  &:hover {
    border-radius: 5px;
    box-shadow: 10.1px 16.1px 51px 0 rgba(0, 0, 0, 0.15);
    transform: translate(-5px, -5px);
  }
}

.alvorada_wc_button {
  display: inline-block !important;
  border-radius: 28px !important;
  box-shadow: 0 0 90px 0 rgba(0, 0, 0, 0.04) !important;
  background-image: linear-gradient(to right, #f13b29, #f87c00) !important;
  padding: 14px 30px !important;
  text-decoration: none !important;
  color: $white !important;
  font-family: $poppins !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  transition: color 500ms ease !important;

  &:hover,
  &:focus {
    color: $dkbrown !important;
  }
}
