$yellow: #ffcb00;
$white: #fff;
$black: #000;

$sm: 576px;
$md: 768px;
$lg: 992px;

$poppins: 'Poppins', sans-serif;
$montserrat: 'montserrat', sans-serif;
$getShow: 'Get Show', sans-serif;

$yellow: #FFCB05;
$red: #EE3435;
$dkbrown: #3A2F29;
$black: #2A1D16;
$brown: #B8442E;
$white: #fff;