$yellow: #ffcb00;
$white: #fff;
$black: #000;

$sm: 576px;
$md: 768px;
$lg: 992px;

$poppins: 'Poppins', sans-serif;
$montserrat: 'montserrat', sans-serif;
$getShow: 'Get Show', sans-serif;

$yellow: #ffcb05;
$red: #ee3435;
$dkbrown: #3a2f29;
$black: #2a1d16;
$brown: #b8442e;
$white: #fff;

$colors: (
    'yellow': #ffcb05,
    'red': #ee3435,
    'dkbrown': #3a2f29,
    'Marrom': #3a2f29,
    'black': #2a1d16,
    'brown': #b8442e,
    'white': #fff,
    'Branco': #fff
);

@each $color, $value in $colors {
    .bg-#{$color} {
        background-color: $value;
    }

    .text-#{$color} {
        color: $value;
    }
}
